* {
  margin: 0;
  padding: 0;
}

#main {
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  position: relative;
}

#main > #analytics {
  position: absolute;
  top: 20px;
  left: 20px;
}

#main > #circle {
  width: 400px;
  height: 400px;
  position: relative;
  border-radius: 50%;
  border: 1px solid rgb(158, 158, 158);
}

#main > #circle > .inner-circle {
  position: absolute;
  translate: -50% -50%;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}